<?xml version='1.0' encoding='utf-8'?>
<widget id="com.scrambly.word" versionCode='10001' version="1.0.1">
    <name>Blinky Bulb</name>
    <description>
        a quick puzzle game
    </description>
    <author email="scramblyword@gmail.com" href="www.scramblyword.com">
        Jonathan Hathhorn
    </author>
	<platform name="android" />
    <content src="index.html" />
    <access origin="*" />
    <preference name="android-targetSdkVersion" value="26"/>
    <icon src="icon.png" />
</widget>
